
@{
    ViewBag.Title = "Interview";
}

<h2>Interview</h2>

<div id="question">
    @Html.Action("Question")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").on("click", ".navigation-button", function () {
            //alert($(this).attr("data-value"));
            $.ajax({
                type: "POST",
                url: "@Url.Action("Question")" + "?page=" + (parseInt($("#current-page").val()) + parseInt($(this).attr("data-value"))),
                success: function (data) {
                    $(".form-horizontal").html(data);
                }
            });
        });
    });
</script>


